URLObject==2.3.4
dropbox==2.0.0
dulwich==0.9.3
fontforge==1.0
google-api-python-client==1.2
hg-git==0.4.0
httplib2==0.8
mega.py==0.9.18
mercurial==2.7.2
pcapy==0.10.8
pycrypto==2.6.1
python-mega==0.1.0
requests==2.2.1
stevedore==0.12
urllib3==1.8
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
